.productInfoRow {
    margin-bottom: 10px
}

.productHeaderRow {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #764abc;
    color: white;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.productInfoColumn {
    display: flex;
    align-items: center;
}

.productInfoColumnCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    color: white;
    background-color: rgba(118, 74, 188, 0.8) !important;
}

.btn:hover {
    color: white;
    background-color: rgba(118, 74, 188, 1) !important;
}

